= render "items/header"
= render "share/bread-crumps"

.user-logout__body
  .user-logout-content
    = render "share/side_bar"
    .user-logout-content__main
      .user-logout__link
        = link_to "ログアウト", destroy_user_session_path, class: "user-logout__link-tag"

= render "items/footer"
