= render "items/header"
.bread-crumps
  .bread-crumps__item
    - breadcrumb :logout
    = breadcrumbs separator: " &rsaquo; "

.user-logout__body
  .user-logout-content
    = render "share/side_bar"
    .user-logout-content__main
      .user-logout__link
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-logout__link-tag"

= render "items/footer"
