.header
  .header-top
    = image_tag("logo.svg",alt: "logo",class: "header-top__title")
    %input{class: "header-top__search",placeholder: 'キーワードから探す' }
      = fa_icon 'search', class: 'header-top__search-icon'

  .header-bottom
    / ここからメニュー
    .header-bottom--left
      %ul.pc-header-nav
        %li
          %h2
            = link_to "/items" ,class: "pc-header-nav-root" do
              カテゴリーから探す
          %ul.pc-header-nav__parent-wrap
            %li.pc-header-nav__parent
              %h3
                = link_to "/items" ,class: "header-bottom--left__nav-link-item" do
                  レディース
              %ul.pc-header-nav__child-wrap
                %li.pc-header-nav__child
                  %h4
                    = link_to "/items" ,class: "header-bottom--left__nav-link-item" do
                      トップスアウター
                  %ul.pc-header-nav__grand-child-wrap
                    %li.pc-header-nav__grand-child
                      = link_to "/items" ,class: "header-bottom--left__nav-link-item" do
                        Tシャツカットソー
                    %li.pc-header-nav__grand-child
                      = link_to "/items" ,class: "header-bottom--left__nav-link-item" do
                        ブラウス
                %li.pc-header-nav__child
                  %h4
                    = link_to "/items" ,class: "header-bottom--left__nav-link-item" do
                      ジャケット/アウター
                  %ul.pc-header-nav__grand-child-wrap
                    %li.pc-header-nav__grand-child
                      = link_to "/items" ,class: "header-bottom--left__nav-link-item" do
                        仮テキスト
                    %li.pc-header-nav__grand-child
                      = link_to "/items" ,class: "header-bottom--left__nav-link-item" do
                        仮テキスト
        %li
          %h3.header-bottom--left
            = link_to "/items" ,class: "header-bottom--left__nav-brand" do
              ブランドから探す
    / ここまでメニュー
    .header-bottom--right
      %ul.bottom--right__nav
        -# = if user_signed_in?
        -#   %li.header-bottom--right__nav-mypage
        -#     = link_to "/items" ,class: "header-bottom--right__nav-mypage-link" do
        -#       .member-photo-dummy
        -#         = image_tag("member_photo_noimage_thumb.png",alt: "プロフィール",class: "member-photo")
        -#         .text-mypage
        -#           マイページ
        -#   %li.header-bottom--right__nav-news
        -#     = link_to "/items" ,class: "header-bottom--right__nav-news-link" do
        -#       = fa_icon 'bell-o', class: "bell"
        -#       %span お知らせ
        -#   %li.header-bottom--right__nav-todo
        -#     = link_to "/items" ,class: "header-bottom--right__nav-todo-link" do
        -#       = fa_icon 'check',class: "check"
        -#       %span やることリスト
        -# = else
        %li.header-bottom--right__nav-sign-in
          = link_to "/items" ,class: "sign-in-tag" do
            ログイン
        %li.header-bottom--right__nav-sign-up
          = link_to "/items" ,class: "sign-up-tag" do
            新規会員登録
