.pickup-content-items-box
  = link_to "/items/show" ,class: "pickup-content__title-link" do
    -# 画像の変数化は保留
    = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
    .pickup-content-items-box-body
      .pickup-content-items-box-body__name
        %h3
        = item.name
      .pickup-content-items-box-body__price
        = item.price
      .pickup-content-items-box-body__favorite
        = fa_icon 'heart-o', class: 'favorite--gray'
        .pickup-content-items-box-body__favorite-num
          20
      .pickup-content-items-box-body__tax
        (税込)
