.pickup-content
  .pickup-content__title
    = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
  .pickup-content-items
    -# 変数使えるようになったらeach文にする
    = render 'itembox'
    = render 'itembox'
    = render 'itembox'
    = render 'itembox'

  = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get
