.buy-single-container
  = render 'devise/registrations/header'
  .buy-single-container__body
    %h2.buy-single-container__body-title 購入を確定しますか？
    .buy-content
      .buy-content-inner
        %h3.buy-content-inner__photo
          = image_tag( "m90055501397_1.jpg", class: "buy-content-inner__photo-img" )
        %p.buy-content-inner__name
          = @item.name
        .buy-content-inner__price
          %p.buy-content-inner__price--bold
            = "¥#{@item.price}"
          %p.buy-content-inner__price--normal 送料込み
        %p.buy-content-inner__point ポイントはありません
        .buy-content-inner__pay-price
          %p.buy-content-inner__pay-price-leftbox 支払い金額
          %p.buy-content-inner__pay-price-rightbox
            = "¥#{@item.price}"
        %p.buy-content-inner__alert 配送先と支払い方法の入力を完了してください。
        = form_tag(action: :pay, method: :post) do
          %script.payjp-button{ src: "https://checkout.pay.jp", type: "text/javascript", "data-text": "購入する", "data-submit-text": "購入する", "data-key": ENV["PAYJP_PUBLIC_KEY"]}

    .buy-user-info
      .buy-user-info-inner
        .buy-user-info-inner__address
          %h3 配送先
          .buy-user-info-inner__address-text
            〒000-0000
            %br
            東京都 杉並区 00000
            %br
            山田 太郎
          = link_to '変更する', "/items" ,class: "buy-user-info-inner__address-change" ,method: :get
      .buy-user-info-inner
        .buy-user-info-inner__pay-fix
          %h3 支払い方法
          .buy-user-info-inner__pay-fix-method

          = link_to '変更する', "#" ,class: "buy-user-info-inner__pay-fix-change" ,method: :get
  = render 'devise/registrations/footer'
