= render 'header'

.body
  .body__top-banner
    = image_tag("top_banner.png",alt: "top-banner",class: "body__top-banner-picture")

  .body-pickup
    .pickup__title
      ピックアップカテゴリー
    -# 変数使えるようになったらeach文にする
    = render 'pickup_content'
    = render 'pickup_content'
    = render 'pickup_content'
    = render 'pickup_content'


    .pickup__title
      ピックアップブランド
    -# 変数使えるようになったらeach文にする
    = render 'pickup_content'
    = render 'pickup_content'
    = render 'pickup_content'
    = render 'pickup_content'

= render 'footer'
