= render 'header'

.body
  .body__top-banner
    = image_tag("top_banner.png",alt: "top-banner",class: "body__top-banner-picture")

  .body-pickup
    .pickup__title
      ピックアップカテゴリー
    .pickup-content
      .pickup-content__title
        = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
      .pickup-content-items
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)

        = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get

    .pickup-content
      .pickup-content__title
        = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
      .pickup-content-items
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)

        = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get

    .pickup-content
      .pickup-content__title
        = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
      .pickup-content-items
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)

        = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get

    .pickup-content
      .pickup-content__title
        = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
      .pickup-content-items
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)

        = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get


    .pickup__title
      ピックアップカテゴリー
    .pickup-content
      .pickup-content__title
        = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
      .pickup-content-items
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)

        = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get

    .pickup-content
      .pickup-content__title
        = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
      .pickup-content-items
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)

        = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get

    .pickup-content
      .pickup-content__title
        = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
      .pickup-content-items
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)

        = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get

    .pickup-content
      .pickup-content__title
        = link_to 'レディース 新着アイテム', "/items" ,class: "pickup-content__title-link" ,method: :get
      .pickup-content-items
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーターSLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)
        .pickup-content-items-box
          = link_to "/items" ,class: "pickup-content__title-link" do
            = image_tag("m90055501397_1.jpg", alt: "商品", class: "pickup-content-items-box__img")
            .pickup-content-items-box-body
              .pickup-content-items-box-body__name
                %h3 SLYセーター
              .pickup-content-items-box-body__price
                ¥ 1,500
              .pickup-content-items-box-body__favorite
                = fa_icon 'heart-o', class: 'favorite--gray'
                .pickup-content-items-box-body__favorite-num
                  20
              .pickup-content-items-box-body__tax
                (税込)

        = link_to '全ての商品を見る',"/items" ,class: "pick-up-content__view-all" ,method: :get

= render 'footer'



































